@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #E4E4E4;
  --fill: #FAFAFA;
  --highlight: #107A4D;
  --text-1: #323232;
  --text-disabled: #858585;
  --fill-disabled: #F3F2F2;
  --error: lab(48.4493% 77.4328 61.5452);
  --error-fill: #FFF9F9;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-fill: var(--fill);
  --color-highlight: var(--highlight);
  --color-text-1: var(--text-1);
  --color-text-disabled: var(--text-disabled);
  --color-fill-disabled: var(--fill-disabled);
  --color-error: var(--error);
  --color-error-fill: var(--error-fill);
  --font-sans: var(--font-inter), sans-serif;
  --radius-slot: 16px;
  --radius-slot-inner: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes blink {
  0%, 70%, 100% { opacity: 1; }
  20%, 50% { opacity: 0; }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 50%, 90% { transform: translateX(-6px); }
  30%, 70% { transform: translateX(6px); }
}
